<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= invoice.customer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing address:</strong>
    <%= invoice.billing_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing city:</strong>
    <%= invoice.billing_city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing state:</strong>
    <%= invoice.billing_state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing country:</strong>
    <%= invoice.billing_country %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing postal code:</strong>
    <%= invoice.billing_postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= invoice.total %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this invoice", invoice, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this invoice", edit_invoice_path(invoice), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
