<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Customers</h1>
    <%= link_to "New customer", new_customer_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Customers</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Here are our favorite people</p>
      </div>
      <div class="flex flex-wrap -m-2">
        <%@customers.each do |c| %>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <%=link_to edit_customer_path(c) do %>
                <%=c.first_name%> <%=c.last_name%>
                <% end %>
              </h2>
              <p class="text-gray-500"><%=c.company%></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
