<%= form_with(model: playlist, class: "contents") do |form| %>
  <% if playlist.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <h2>Tracks</h2>
  <table>
    <%=form.collection_check_boxes(:track_ids, Track.all, :id, :name) do |b| %>
      <tr>
        <td><%= b.check_box %></td>
        <td><%= b.label %></td>
      </tr>
    <% end %>
  </table>
<% end %>

